.card {
    opacity: 0;
}

.card__placeholder {
    height: 280px;
    animation: image-loading 1s linear infinite alternate;
}

.bg-span{
    background-color: #dc143cc4;
    width: 200px;
    border-radius: 10px;
    position: absolute;
    cursor: pointer;
    top: 10px;
    color: white;
}

h5{
    padding-top: 8px;

}
.color{
    color: #67d167 !important;
}
button{
    color: #011600!important;
}
button:hover{
    background-color: #3CB371 !important;
}
.bg-span:hover{
    box-shadow: 5px 5px 5px #caa1af;
    border: 1px solid red;
}

@keyframes image-loading {
    0% {
        background-color: hsl(200, 20%, 80%);
    }

    100% {
        background-color: hsl(200, 20%, 95%);
    }
}